.container {
      height: 100%;
    }

     .wrap-black {
      height: 150px;
      background-color: #1C1C1C;
    }

    .main-top {
      height: 100%;
      display: flex;
      align-items: center;
    }

    .main-top h2 {
      color: #fff;
    }

    .wrap-blue {
      background-color: #0282F9;
      height: 170px;
    }

    .main-bottom {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }

    .main-bottom ul {
      display: flex;
      justify-content: center;
    }

    .main-bottom ul li {
      height: 50px;
      display: flex;
      align-items: center;
      margin: 0 30px 0 30px;
    }

    .li-img {
      height: 100%;
    }

    .li-img img {
      height: 100%;
    }

    .main-bottom li a {
      text-decoration: none;
      margin-left: 15px;
      text-transform: uppercase;
      color: #fff;
    }