  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Roboto', sans-serif;
  }

  .container {
    width: 70%;
    max-width: 1400px;
    margin: 0 auto;
  }